[Desktop Entry]
Name=HawkEye
Exec=/home/hcr/projDir/display/scripts/start_HawkEye.10hz
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/hcr/git/HCR_configuration/launchers/icons/hawkeye.png
